/* home-page section */

#home-page {
    margin: 0 auto;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
    align-items: center;
}

.header h1 {
    font-size: 20px;
}

.logo {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.header img {
    width: 150px;
    height: 150px;
}

.header nav ul {
    display: flex;
    gap: 30px;
    font-size: 20px;
}

.header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1982c4;
    border-radius: 8px;
}

.header nav ul li {
    margin: 0 10px;
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.header nav ul li a:hover {
    color: #2ec4b6;
    transform: translateY(-5px);
}

/* hero image */

.hero-img {
    background-image: url("./images/greece.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
}

.hero-img h1 {
    font-size: 60px;
}

/* hero video  */

.hero-video {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
}

.beach-video {
    flex-basis: 50%;
}

.video-content {
    flex-basis: 50%;
}

video {
    max-width: 100%;
    height: auto;
}

/* hero top-destinations */

.top-destinations {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
}

.top-destinations h3 {
    margin-bottom: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.top-destinations ul {
    display: flex;
    columns: 2;
    display: flex;
    flex-wrap: wrap;
}

.top-destinations ul li {
    flex-basis: 50%;
}

.top-destinations ul li img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

/* destinations-page section */

#destinations-page {
    margin: 0 auto;
    max-width: 1440px;
}

/* destinations-table */

.destinations-table {
    border-collapse: collapse;
    width: 100%;
    background-color: #eaf4f4;
    font-size: 18px;
    text-align: center;
    margin-bottom: 70px;
}

.destinations-table th,
.destinations-table td {
    padding: 12px;
    border: 1px solid #d3d3d3;
}

.destinations-table th {
    background-color: #1982c4;
    color: #ffffff;
}

/* destinations-guide */

.destinations-guide {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    border: 1px solid #d3d3d3;
    padding: 12px;
    margin-bottom: 70px;
}

.destinations-guide dt {
    padding: 2px 4px;
    background: #1982c4;
    color: #ffffff;
}

.destinations-guide dd {
    margin: 0;
    padding: 4px;
}

/* destinations-iframe */

.destinations-iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 70px;
}

/* contact-us page */

#contactUs-page {
    margin: 0 auto;
    max-width: 1440px;
}

/* office-location section */

.office-location-table {
    border-collapse: collapse;
    width: 100%;
    background-color: #eaf4f4;
    font-size: 18px;
    text-align: center;
    margin-bottom: 70px;
}

.office-location-table th,
.office-location-table td {
    padding: 12px;
    border: 1px solid #d3d3d3;
}

.office-location-table th {
    background-color: #1982c4;
    color: #ffffff;
}

/* form section */

.user-form {
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-header h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.form-header p {
    font-size: 18px;
    color: #666;
}

.user-form div {
    margin-bottom: 20px;
}

.user-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.user-preferredService {
    display: block;
    margin: auto;
}

.user-form input,
.user-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-form button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.user-form button[type="submit"]:hover {
    background-color: #2980b9;
}

/* frequently asked questions section */

.faqs {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    border: 1px solid #d3d3d3;
    padding: 12px;
    margin-bottom: 70px;
    background-color: #f9f9f9;
}

.faqs dl {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

.faqs dt {
    padding: 2px 4px;
    background: #eaf4f4;
    color: black;
    font-weight: bold;
    font-size: 17px;
}

.faqs dd {
    margin: 0;
    padding: 4px;
}

/* contact us section */

.contact-googleMaps-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.contact-information {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

.contact-information h3 {
    font-size: 23px;
}

.contact-information ul {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}
